@model OrderCreationForm.ViewModels.FileViewModel
@{
    ViewBag.Title = "FileUpload";
}

@using (Html.BeginForm("QuotationHandler", "OrderDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <span class="glyphicon glyphicon-upload"></span><b>Upload Quote</b>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Quote, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.Quote, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

