@model IEnumerable<OrderCreationForm.Models.product>

<table class="table">
    <tr>
        <th>
            Product
        </th>

        <th>
            Category
        </th>
        <th>
            Supplier
        </th>
        <th>
            Unit Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.products.prod_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products.product_category.prod_cat_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products.supplier.supplr_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products.prod_price)
            </td>
            <td>

                @*@Html.ActionLink("Edit", "Edit", new { id = item.prod_id }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.prod_id }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.prod_id })*@
            </td>
        </tr>
    }

</table>


